# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-replace-this-with-a-real-one
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# This is used by the api service in docker-compose
DATABASE_URL=postgres://postgres:postgres@db:5432/app_dla

# PostgreSQL Service Configuration
# These are used by the db service in docker-compose
POSTGRES_DB=app_dla
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
